<h1>
  GDownloader
</h1>
<form action="/simpleUrl" method="POST">
  <div>
    <label for="">
      Url
    </label>
    <input name="url" type="text" />
    <input type="submit" value="Downloader" />
  </div>
</form>